@model FootballerMVC.Models.NationalTeam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NationalTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confederation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confederation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadCoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadCoach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIFA_Ranking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIFA_Ranking)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NationalTeamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
